---
import Layout from '../../layouts/Layout.astro';
import BlogCard from '../../components/BlogCard.astro';
import { getCategory, getPostsByCategory, getPosts, type Post } from '../../lib/wordpress';

export async function getStaticPaths() {
  const posts = await getPosts();
  const categories = new Set(posts.map(post => ({
    slug: post._embedded?.['wp:term']?.[0]?.[0]?.slug,
    name: post._embedded?.['wp:term']?.[0]?.[0]?.name
  })).filter(category => category.slug));

  return Array.from(categories).map(category => ({
    params: { slug: category.slug },
  }));
}

const { slug } = Astro.params;
const category = await getCategory(slug as string);

if (!category) {
  return Astro.redirect('/404');
}

const posts = await getPostsByCategory(category.id);
---

<Layout title={`Categoria: ${category.name}`}>
  <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-12">
    <header class="text-center mb-12">
      <h1 class="text-4xl font-bold text-black mb-4">Categoria: {category.name}</h1>
      <!-- <p class="text-gray-300 text-lg">
        {category.count} {category.count === 1 ? 'post' : 'posts'} nesta categoria
      </p> -->
    </header>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        posts.map((post: Post) => (
          <BlogCard
            id={post.id}
            title={post.title.rendered}
            excerpt={post.excerpt.rendered}
            imageUrl={post._embedded?.['wp:featuredmedia']?.[0]?.source_url}
            category={post._embedded?.['wp:term']?.[0]?.[0]?.name}
            categorySlug={post._embedded?.['wp:term']?.[0]?.[0]?.slug}
          />
        ))
      }
    </div>

    {posts.length === 0 && (
      <div class="text-center py-12">
        <p class="text-gray-300 text-lg">Nenhum post encontrado nesta categoria.</p>
      </div>
    )}
  </main>
</Layout>